<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<head>
    <link rel="stylesheet" href='/static/style.css' type="text/css">

    <title>Diagnostics</title>
</head>

<body>
    
    <h1>Welcome to aRover's diagnostics!</h1>

    <table>
    {% for attribute in attributes %}
        <tr><td>{{ attribute.name }}</td><td>{{ attribute.value|safe }}</td></tr>
    {% else %}
        <tr><td>failed to pull attributes!</td></tr>
    {% endfor %}    
    </table>
    
</body>
</html>
